html,
body {
  height: 100%;
  color: gray;
}

/* exercise 2 */
body {
  padding: 0;
  margin: 0;
  display: grid;
}

article {
  display: grid;
  margin: 1em;
}

aside,
nav {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 1em;
  gap: 1em;
}

main {
  grid-column-start: 4;
  grid-column-end: 12;
  margin: 1em;
  gap: 1em;
}

article {
  grid-column-start: 1;
  grid-column-end: 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1em;
  gap: 1em;
}

header,
footer {
  gap:1em;
  background: blue;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-template-rows: 1fr;
}